.contact-wrap {
   .container {
      display: flex;
      margin-left: 100px;
   }

   margin: 0 auto;

   max-width: 1280px;

   background-color: #191c26;
   background-image: url(../image/contacts-bg-625.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size: calc(50% - 15px);
}

.online {
   padding-top: 130px;
   padding-bottom: 130px;

   flex-grow: 1;
}

.contacts {
   padding-top: 130px;
   padding-bottom: 130px;

   width: calc(50% - 15px);

   &__title {
      color: $second-title-color;

      margin-bottom: 40px;
   }

   &__list {
      max-width: 270px;
      margin-bottom: 70px;
   }

   &__item {
      color: $address-color;
      font-style: normal;
   }

   &__item:not(:last-child) {
      margin-bottom: 20px;
   }

   &__link {
      .addr {
         margin-right: 16px;

         background-color: transparent;
         fill: $address-color;
      }
   }
}

.text-work {
   margin-bottom: 20px;
   color: $second-title-color;

   &.top-text {
      color: $address-color;
   }
}

.text-time {
   color: $address-color;
}
