.hero {
   .container {
      display: flex;
   }

   &__soc {
      display: flex;
      align-items: flex-end;
      width: 93px;

      padding-left: 24px;
      padding-bottom: 40px;
   }

   &__list {
      display: flex;

      align-items: center;

      transform-origin: top left;
      transform: rotate(-90deg) translate(-19px);

      &::before {
         content: ' ';
         width: 60px;
         height: 1px;

         background-color: $basic-title-color;

         margin-right: 40px;
      }
   }

   &__item + &__item {
      margin-left: 40px;
   }

   &__link {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;

      letter-spacing: 0.2em;

      color: $basic-title-color;

      transition: color $time linear;
   }
}

.hero-content {
   flex-grow: 1;
   padding: 272px 0 206px 96px;

   background-color: #303030;
   background-image: linear-gradient(
         rgba(25, 28, 38, 0.2),
         rgba(25, 28, 38, 0.2)
      ),
      url(../image/bg-hero-slide-3-1073.jpg);

   background-repeat: no-repeat;
   background-size: cover;
   max-width: 1280px;
   margin: 0 auto;

   &__top-text {
      margin-bottom: 20px;
      color: $hero-top-text;
   }

   &__title {
      margin-bottom: 20px;
      color: $second-title-color;
   }

   &__bottom-text {
      max-width: 400px;
      color: $second-hero-text-color;
   }
}
