.price {
   padding-top: 130px;
   padding-bottom: 130px;

   background-color: #111319;
   background-image: url(../image/price-1280.png);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 1280px;
   margin: 0 auto;
   &__top-text {
      margin-bottom: 20px;

      color: $price-text;
   }

   &__title {
      margin-bottom: 44px;

      color: $second-title-color;
   }

   &__wrap {
      display: flex;
      margin-bottom: 50px;
   }

   &__list {
      flex-grow: 1;
      padding: 30px 40px;
   }

   &__light {
      background: linear-gradient(
         180deg,
         #171a24 0%,
         rgba(23, 26, 36, 0.2) 100%
      );
   }

   &__dark {
      background: linear-gradient(
         180deg,
         #090b13 0%,
         rgba(9, 11, 19, 0.2) 100%
      );
   }

   &__item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 20px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__item::after {
      content: ' ';
      height: 1px;
      background-color: rgba(157, 164, 189, 0.12);
      flex-grow: 1;

      margin-left: 6px;
      margin-right: 6px;
   }

   &__item-text {
      line-height: 1.67;
      letter-spacing: 0.02em;

      color: $price-text-color;
   }

   &__item-text:last-child {
      order: 1;
   }

   &__button {
      display: block;
      margin: 0 auto;

      color: $basic-btn-text-color;
   }
}
