.reasons {
   .container {
      display: flex;
   }
   padding-top: 114px;
   padding-bottom: 137px;

   &__list {
      display: flex;
   }

   &__top-text {
      margin-bottom: 20px;

      color: $basic-title-color;
   }

   &__title {
      margin-bottom: 20px;

      color: $basic-title-color;
   }

   &__bottom-text {
      color: $basic-text-color;
   }

   &__item {
      width: 170px;
      height: 130px;

      background-color: #f7f7f7;
   }

   &__item-count {
      display: block;
      margin-bottom: 6px;

      font-weight: 700;
      font-size: 42px;
      line-height: 1.35;
      text-align: center;
      letter-spacing: 0.05em;

      color: $basic-title-color;
   }

   &__item-text {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;
      text-align: center;

      color: $basic-title-color;
   }
}
