.about {
   padding-top: 139px;
   padding-bottom: 125px;

   .container {
      display: flex;
   }

   &__list {
      display: flex;
      margin-right: 64px;
   }

   &__item + &__item {
      margin-left: 30px;
   }

   &__top-text {
      margin-bottom: 20px;

      color: $basic-title-color;
   }

   &__title {
      margin-bottom: 20px;

      color: $basic-title-color;
   }

   &__bottom-text {
      margin-bottom: 20px;

      color: $basic-text-color;
   }

   &__text {
      margin-bottom: 40px;

      font-size: 14px;
      line-height: 1.86;
      letter-spacing: 0.02em;

      color: $basic-text-color;
   }

   &_botton {
      color: $second-btn-text-color;
   }
}
