body {
   background-color: $basic-bg-color;
   color: $basic-text-color;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

img,
svg {
   display: block;
   max-width: 100%;
   // height: 100%;
}

.button {
   font-family: inherit;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.09em;
   text-transform: uppercase;
   color: $basic-btn-text-color;

   min-width: 160px;
   height: 40px;

   border: 1px solid $accent-color;
   border-radius: 25px;
   background-color: transparent;

   cursor: pointer;

   transition: color $time linear;

   &:hover,
   &:focus {
      background-color: $accent-color;
      color: $basic-btn-text-color;
   }
}

.list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.link {
   text-decoration: none;
   color: inherit;

   // transition: color getTiming('timing');
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowarp;
   clip-path: insert(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.top-text {
   display: flex;
   align-items: center;

   font-weight: 600;
   font-size: 11px;
   line-height: 1.36;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}

.top-text::before {
   content: ' ';
   width: 63px;
   height: 1px;
   background-color: currentColor;
   display: block;

   margin-right: 21px;
}

.title {
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 42px;
   line-height: 1.16;
   letter-spacing: 0.05em;
}

.bottom-text {
   font-size: 18px;
   line-height: 1.67;
   letter-spacing: 0.02em;
}
