.header {
   background-color: rgb(194, 188, 188);
   color: $header-text-color;

   &__link {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.1em;

      color: $header-text-color;

      &:hover,
      &:focus {
         color: $accent-color;
      }
   }

   &__btn {
      color: $header-text-color;
   }
}
