.header {
   position: absolute;
   width: 100%;

   padding-top: 32px;
   padding-bottom: 32px;

   color: $header-text-color;

   .container {
      display: flex;
      align-items: center;
   }

   &__logo {
      margin-right: 70px;
   }

   &__list {
      display: flex;
   }

   &__item + &__item {
      margin-left: 40px;
   }

   &__link {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.1em;

      color: $header-text-color;

      transition: color $time linear;
   }

   &__connect {
      display: flex;
      align-items: center;

      margin-left: auto;
      margin-right: 5px;
   }

   &__btn {
      margin-left: 40px;
   }
}
