.header {
   padding-top: 32px;
   padding-bottom: 32px;

   background-color: rgb(194, 188, 188);
   color: $header-text-color;

   .container {
      display: flex;
      align-items: center;
   }

   &__logo {
      margin-right: 70px;
   }

   &__list {
      display: flex;
   }

   &__item + &__item {
      margin-left: 40px;
   }

   &__link {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.1em;

      color: $header-text-color;

      &:hover,
      &:focus {
         color: $accent-color;
      }
   }

   &__connect {
      display: flex;
      align-items: center;

      margin-left: auto;
   }

   &__btn {
      margin-left: 40px;
   }
}
