.hero {
   .container {
      display: flex;
   }

   &__list {
      width: 93px;
   }

   &__link {
      font-weight: 600;
      font-size: 11px;
      line-height: 1.36;

      letter-spacing: 0.2em;

      color: $basic-title-color;

      &:hover,
      &:focus {
         color: $accent-color;
      }
   }
}

.hero-content {
   flex-grow: 1;
   padding: 272px 0 206px 96px;

   background-color: #303030;
   &__top-text {
      margin-bottom: 20px;
      color: $hero-top-text;
   }

   &__title {
      margin-bottom: 20px;
      color: $second-title-color;
   }

   &__bottom-text {
      max-width: 400px;
      color: $second-hero-text-color;
   }
}
