.price {
   padding-top: 130px;
   padding-bottom: 130px;

   background-color: #303030;

   &__top-text {
      margin-bottom: 20px;

      color: $price-text;
   }

   &__title {
      margin-bottom: 44px;

      color: $second-title-color;
   }

   &__item {
      margin-bottom: 20px;
   }

   &__list {
      padding: 30px 40px;
   }

   &__item-text {
      line-height: 1.67;
      letter-spacing: 0.02em;

      color: $price-text-color;
   }

   &__button {
      color: $basic-btn-text-color;
   }
}
