.social {
   display: block;

   margin-top: 30px;

   &__list {
      display: flex;
      justify-content: center;
   }

   &__item + &__item {
      margin-left: 10px;
   }

   &__item-link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 44px;
      height: 44px;

      background-color: $basic-bg-color;
      fill: $basic-title-color;

      border-radius: 50%;

      cursor: pointer;

      transition: filter $time linear;

      &:hover,
      &:focus {
         filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      &:hover .icon {
         transition: fill $time linear;
         fill: $accent-color;
      }
   }
}
