@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700;900&display=swap');
// цвета
$basic-bg-color: #ffffff;
$secondary-bg-color: #f7f7f7;
$basic-text-color: #555555;
$title-text-color: #303030;
$accent-color: #ff6c00;
